@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Lobster&family=Monoton&family=Open+Sans&family=Stick&display=swap');
body{
	background-color:#000033;
--	background-image:
--	 radial-gradient(#000055 1px, transparent 1px);
--	background-size: 20px 20px;

}
#container{
--display: grid;
-- justify-content: center;
 -- margin: auto;
	display:flex;
	flex-direction:column;
	align-items:center;

}

h1 {
	font-size: 10vw;
	line-height: 14vw;
	text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 58px #ff0000;
	color: #fff6a9;
	font-family: "Monoton", cursive;
	text-align: center;
	animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,0 0 40px #ffa500,  0 0 58px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,0 0 40px #ffa500, 0 0 58px #ff0000;
    color: #fff6a9;
  }
}
.topPage{
	width:100vw;
	height:100vh;
	background-size:cover;
}
.glassBox{
	position: relative;
	margin:auto;
	padding-right:145px;
	margin-top:50px;
}

#sineCanvas1{
	position: absolute;
	margin-top:16px;
	margin-left:8px;
}



.field {
    overflow: hidden;
    position: absolute;
	height: 48px;
	width:57px;
	margin-left:50px;
	margin-top:26px;
}
.item2{
	right:16px;
	width: 5px;
	height: 5px;
	bottom:15px;
}
.item3{
	left:19px;
	width: 5px;
	height: 5px;
	bottom:20px;
}
.item4{
	left:26px;
	width: 2px;
	height: 2px;
	bottom:29px;
}
.item4{
	left:26px;
	width: 2px;
	height: 2px;
	bottom:29px;
}
.item5{
	right:29px;
	width: 1px;
	height: 1px;
	bottom:32px;
}
.item6{
	right:5px;
	width: 1px;
	height: 1px;
	bottom:32px;
}
.item7{
	left:10px;
	width: 1px;
	height: 1px;
	bottom:22px;
}
.item8{
	right:15px;
	width: 2px;
	height: 2px;
	bottom:16px;
}
.item9{
	left:16px;
	width: 5px;
	height: 5px;
	bottom:12px;
}
.item10{
	left:14px;
	width: 3px;
	height: 3px;
	bottom:14px;
}
.item11{
	left:23px;
	width: 1px;
	height: 1px;
	bottom:24px;
}
.item12{
	right:23px;
	width: 2px;
	height: 2px;
	bottom:21px;
}
.item13{
	right:23px;
	width: 2px;
	height: 2px;
	bottom:21px;
}
.item14{
	left:23px;
	width: 5px;
	height: 5px;
	bottom:24px;
}
.item15{
	left:2px;
	width: 1px;
	height: 1px;
	bottom:22px;
}
.item16{
	right:10px;
	width: 3px;
	height: 3px;
	bottom:14px;
}
.item {
	display: block;
    width: 4px;
	height: 4px;

    border-radius: 100%;
    box-shadow: 0px 0px 22px 0px rgba(255, 255, 255,0.6) inset;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(255, 255,255,0.6) inset;
    position: relative;
}
.item:after {
    content: "";
    display: block;
    width: 3%;
    height: 3%;
    border-radius: 100%;
    position: absolute;
    right: 6%;
    top: 6%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.4);
    -webkit-transform: rotateZ(45deg) scaleY(0.4);
}
@keyframes shake {
    0% { transform: translateX(0.5px);  }
    50% { transform: translateX(-0.5px); }
    100% { transform: translateX(0.5px); }
}
@-webkit-keyframes shake {
    0% { -webkit-transform: translateX(0.5px); }
    50% { -webkit-transform: translateX(-0.5px); }
    100% { -webkit-transform: translateX(0.5px); }
}
 
/*animation Play*/
.shake {
    animation: shake 0s ease 0s infinite normal;
    -webkit-animation: shake 0s ease 0s infinite normal;
}
/*animation Setting*/
@keyframes move {
	0% { transform: translateY(0px); opacity: 0;}
	20% {opacity:0.7;}
    100% { transform: translateY(-90px); opacity: 0; }
}
@-webkit-keyframes move {
	0% { -webkit-transform: translateY(0px); opacity: 0;}
	20% { -webkit-opacity:0.7;}
    100% { -webkit-transform: translateY(-80px); opacity: 0; }
}
 
/*animation Play*/
.move {
    animation: move 2s cubic-bezier(0.47, 1, 0.745, 0.71) 0s infinite normal;
    -webkit-animation: move 2s cubic-bezier(0.47, 1, 0.745, 0.715) 0s infinite normal;
 
    position: absolute;
    bottom: -10%;
    left: 50%;
}

/*animation Setting2*/
@keyframes move2 {
	0% { transform: translateY(0px); opacity: 0;}
	40% {opacity:0.7;}
    100% { transform: translateY(-90px); opacity: 0; }
}
@-webkit-keyframes move2 {
	0% { -webkit-transform: translateY(0px); opacity: 0;}
	40% { -webkit-opacity:0.7;}
    100% { -webkit-transform: translateY(-80px); opacity: 0; }
}
 
/*animation Play2*/
.move2 {
    animation: move 1s cubic-bezier(0.36, 1, 0.62, 0.8) 0s infinite normal;
    -webkit-animation: move 1s cubic-bezier(0.36, 1, 0.62, 0.8) 0s infinite normal;
 
    position: absolute;
    bottom: -10%;
    left: 50%;
}

/*animation Setting3*/
@keyframes move3 {
	0% { transform: translateY(0px); opacity: 0;}
	40% {opacity:0.7;}
    100% { transform: translateY(-90px); opacity: 0; }
}
@-webkit-keyframes move3 {
	0% { -webkit-transform: translateY(0px); opacity: 0;}
	40% { -webkit-opacity:0.7;}
    100% { -webkit-transform: translateY(-80px); opacity: 0; }
}
 
/*animation Play3*/
.move3 {
    animation: move 3s cubic-bezier(0.47, 0.2, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 3s cubic-bezier(0.47, 0.2, 0.745, 0.715) 0s infinite normal;
 
    position: absolute;
    bottom: -10%;
    left: 50%;
}
/*animation Setting4*/
@keyframes move4 {
	0% { transform: translateY(0px); opacity: 0;}
	40% {opacity:0.7;}
    100% { transform: translateY(-90px); opacity: 0; }
}
@-webkit-keyframes move4 {
	0% { -webkit-transform: translateY(0px); opacity: 0;}
	40% { -webkit-opacity:0.7;}
    100% { -webkit-transform: translateY(-80px); opacity: 0; }
}
 
/*animation Play4*/
.move4 {
    animation: move 4s cubic-bezier(0.47, 0.2, 0.745, 0.715) 0s infinite normal;
    -webkit-animation: move 4s cubic-bezier(0.47, 0.2, 0.745, 0.715) 0s infinite normal;
 
    position: absolute;
    bottom: -10%;
    left: 50%;
}





.glass{
	position:relative;
}
.glassEdge{
	position: absolute;
	left:2.5px;
	margin-top:-3px;
	width:156px;
	height:10px;
	background-color: #a9d8e6;
	border-radius: 50%;
	box-shadow: 0 0 5px #a9d8e6, 0 0 15px #a9d8e6,  0 0 60px #a9d8e6;
}
.triangle{
	position:absolute;
	width: 0;
 	height: 0;
  	border-left: 80px solid transparent;
  	border-right: 80px solid transparent;
	border-bottom: 90px solid transparent;
  	border-top: 90px solid #a9d8e6;
	border-radius:10px;
}
.triangle2{
	position:absolute;
	right:-115px;
	top:-5px;
	font-size:70px;
	color:#a9d8e6;
	text-shadow: 0 0 5px #a9d8e6, 0 0 15px #a9d8e6, 0 0 40px #a9d8e6,0 0 50px #a9d8e6, 0 0 60px #a9d8e6;

}
.handle{
	position: absolute;
	margin-left:75px;
	margin-top:80px;
	background-color:#a9d8e6;
	width:9px;
	height:115px;
	border-radius:10px 10px 10px 10px;
	
}
.glassBottom{
	position: absolute;
	left:45px;
	margin-top:186px;
	width:70px;
	height:10px;
	background-color: #a9d8e6;
	border-radius: 50%;
}
.liquidBox{

}

.liquid{
	position:absolute;
	left:28px;
	margin-top:20px;
	width: 0;
 	height: 0;
  	border-left: 52px solid transparent;
  	border-right: 52px solid transparent;
	border-bottom: 64px solid transparent;
  	border-top: 64px solid #fecc46;
	border-radius:10px;
}
.liquid2{
	position:absolute;
	margin-top:53px;
	left:64.5px;
	color:#a9d8e6;
	font-size:31px;
}
.liquid3{
	position:absolute;
	margin-top:49px;
	left:65px;
	width:29px;
	height:26px;
	border-radius: 55%;
	background-color:#fecc46;
}
.glassBottom2{
	position: absolute;
	left:45px;
	margin-top:188px;
	width:70px;
	height:10px;
	background-color: #a9d8e6;
	border-radius: 50%;
	box-shadow: 0 0 5px #a9d8e6, 0 0 15px #a9d8e6, -5px 5px 20px #a9d8e6, 0 0 60px #a9d8e6;
}

.empty1{
	margin-top:310px;
}

.cPrent{
	position: relative;
	margin-left:20px;
}
.circle{
	position: absolute;
	margin-top:-32px;
	font-size:148px;
	font-weight: lighter;
	font-family: sans-serif;
	display: block;
	color:#FF3399;
	text-shadow:  0 0 30px #00ECFF;
	animation: blink 12s infinite;
  -webkit-animation: blink2 10s infinite;	 
}

h2{
	font-family: "M PLUS Rounded 1c";
	font-size: 25px;
	line-height: 33px;
	letter-spacing: 2px;
	transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,0 0 40px #ffa500,  0 0 58px #ff0000;
    color: #fff6a9;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink2 10s infinite;
}

@-webkit-keyframes blink2 {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,0 0 40px #ffa500,  0 0 58px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink2 {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,0 0 40px #ffa500,  0 0 58px #ff0000;
    color: #fff6a9;
  }
}


.empty{
	margin-top:20px;
}


.alcoholbox1{
	display:flex;
	margin-top:11px;
}
.alcoholtitle1{
	margin-top:6px;
}
.title{
	font-size:16px;
	margin-right:23px;
	color:white;
	font-family: "M PLUS Rounded 1c";
	letter-spacing: 3px;
}
p{
	font-size:16px;
	color:white;
	font-family: "M PLUS Rounded 1c";
	text-align:right;
	letter-spacing: 3px;
	margin-top:0;
    margin-bottom:0;
}





.alcohol-wrap {
	position: relative;
}
.alcohol-wrap input[type='numeber'] {
	font: 2vh sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
}
.alcohol-wrap input[type='number']:focus {
	outline: none;
}
.alcohol-number {
	font-size:16px;
	width:140px;
	padding: 8px 4px;
	transition: 0.4s;
	border: 1px solid white;
	--	background: transparent;
	border-radius: 5px;
}
.alcohol-number ~ .focus_line:before,
.alcohol-number ~ .focus_line:after {
	position: absolute;

	left: 50%;
	width: 0;
	height: 1.5px;
	content: '';
	transition: 0.6s;
	background-color: #FFFF66;

}
.alcohol-number ~ .focus_line:after {
	top: auto;
	bottom: 0;
}
.alcohol-number ~ .focus_line i:before,
.alcohol-number ~ .focus_line i:after {
	position: absolute;
	top: 50%;
	left: 0;
	width: 1.5px;
	height: 0;
	content: '';
	transition: 0.8s;
	background-color: #FFFF66;
}
.alcohol-number ~ .focus_line i:after {
	right: 0;
	left: auto;
}
.alcohol-number:focus ~ .focus_line:before,
.alcohol-number:focus ~ .focus_line:after,
.alcohol-wrap ~ .focus_line:before,
.alcohol-wrap ~ .focus_line:after {
	left: 0;
	width: 100%;
	transition: 0.4s;
}
.alcohol-number:focus ~ .focus_line i:before,
.alcohol-number:focus ~ .focus_line i:after,
.alcohol-wrap.alcohol-number ~ .focus_line i:before,
.alcohol-wrap.alcohol-number ~ .focus_line i:after {
	top: -0.1px;
	height: 96%;
	transition: 0.6s;
}
.alcohol-number ~ label {
	position: absolute;
	z-index: -1;
	top: 10px;
	left: 14px;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}



#cup{
	position: relative;
	background-color:yellow;
	margin-right:150px;
}
	
	
.bottleCup{
	position:absolute;
	width:64px;
	height:64px;
	background-color:#BBBBBB;
	margin-right:100px;
	border-radius:50%;
	text-shadow:0 0 2px white;
}
	
button{
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
}
.calcButton{
	margin-right:138px;
	margin-top:6px;
}
#btn1{
	position:absolute;
	padding:5px 1px;
	font-weight: bold;
	width:53px;
	height:53px;
	background-color:#000055;
	color:#EEEEEE;
	font-size:14px;
	font-family: 'Hiragino Kaku Gothic Std';
	border-radius:50%;
	border: double 2px #EEEEEE;
	text-shadow:-8px -16px 16px #EEEEEE;
	transition: all 0.5s 0s ease;
}
#btn1:hover{
	box-shadow:0 0 23px #EEEEEE;
	background-color:#AA0000;
	font-size:16px;
}
.btn1Deco{
	position:absolute;
	margin-left:10px;
	margin-top:33px;
	font-family: 'Lobster', cursive;
	font-size:10px;
	color:#FFD700	;
	text-shadow:0 0 15px #EEEEEE;
	 pointer-events: none;
}

#cup2{
	position: relative;
	background-color:yellow;
	margin-left:20px;
	margin-top:-4px;
}
.bottleCup2{
	position:absolute;
	width:64px;
	height:64px;
	background-color:#BBBBBB;
	margin-right:100px;
	border-radius:50%;
	text-shadow:0 0 2px white;
}
.calcButton2{
	margin-left:31px;
	margin-top:6px;
}

.btn2Deco{
	position:absolute;
	margin-left:21px;
	margin-top:-2.5px;
	font-size:17px;
	color:#FFD700	;
	text-shadow:0 0 15px #CCCCCC;
	
	 pointer-events: none;
}
	#btn2{
	position:absolute;
	padding:5px 1px;

	width:53px;
	height:53px;
	background-color:#004400;
	color:#EEEEEE;
	font-size:14px;
	font-family: 'HiraKakuPro-W6';
	border-radius:50%;
	border: double 2px #EEEEEE;
	text-shadow:-8px -16px 16px #EEEEEE;
	transition: all 0.5s 0s ease;
}
#btn2:hover{
	box-shadow:0 0 23px #EEEEEE;
	background-color:#AA0000;
	font-size:15px;
}
.yohaku{
	margin-top:80px;
}

.resultBox{
	display:flex;
	justify-content:space-between;

}
.results{
	margin-top:16px;
	margin-left:30px;
}
.resultNum{
	font-size:30px;
	font-weight: bold;
	color:#FF3399;
	text-shadow:  0 0 30px #00ECFF;
	animation: blink 12s infinite;
  -webkit-animation: blink2 10s infinite;	 

}
.alchol{
	position: relative;
	margin-top:5%;
	margin-right:60px;
	
}
.alcoholImgA{
	position: absolute;
	margin-top:10px;
	width: 60px;
    border-top: 84px solid #a9d8e6;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
	height: 0;
	border-radius:0 0 30px 30px;
}
.alcoholImgB{
	box-shadow: 0 0 5px #a9d8e6, 0 0 15px #a9d8e6, 0 0 20px #a9d8e6, 0 0 40px #a9d8e6, 0 0 60px #a9d8e6;
	position: absolute;
	margin-left:8.8px;
	margin-top:76px;
	background-color:#a9d8e6;
	width:58px;
	height:20px;
	border-radius: 50%;
}
.alcoholImgC{
	position: absolute;
	margin-top:10px;
	margin-left:1.5px;
	width: 57px;
	border-top: 84px solid #a9d8e6;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	border-radius:0 0 30px 30px;
}
.alcoholImgD{
	position: absolute;
	margin-top:7px;
	width:79px;
	height: 6px;
	background-color: #a9d8e6;
	border-radius: 50%;
}
.alcoholImgE{
	position: absolute;
	margin-top:54px;
	margin-left:40px;
	background-color: white;
	width: 20px;
	height:20px;
	border-radius: 15%;
	transform: rotate(-23deg);
	opacity:0.4;
}
.alcoholImgG{
	position: absolute;
	margin-top:44px;
	margin-left:20px;
	background-color: white;
	width: 20px;
	height:20px;
	border-radius: 15%;
	transform: rotate(23deg);
	opacity:0.4;
}
.alcoholImgH{
	position: absolute;
	margin-top:24px;
	margin-left:30px;
	background-color: white;
	width: 20px;
	height:20px;
	border-radius: 15%;
	transform: rotate(-28deg);
	opacity:0.4;
}

.alcoholImgF{
	position: absolute;
	margin-top:30px;
	margin-left:7px;
	width: 50px;
	border-top: 55px solid #f2e6a0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	height: 0;
	border-radius:10px 10px 27px 27px;
	/*opacity:0.9;*/
}

.emptyBox{
		height:100px;
}


.alchol2{
	position: relative;
	margin-top:50%;
}
.alcoholImg1{
	position: absolute;
	margin-top:10px;
	width: 60px;
    border-bottom: 85px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
	height: 0;
	border-radius:0 0 45px 45px;
}
.alcoholImg2{
	position: absolute;
	margin-top:10px;
	margin-left:1.5px;
	width: 57px;
	border-bottom: 85px solid #000043;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	border-radius:0 0 45px 45px;
}
.alcoholImg3{
	position: absolute;
	margin-left:3.1px;
	margin-top:52px;
	background-color:#000033;
	width:70px;
	height:50px;
	border-bottom: solid 3.5px white;
	border-left: solid 2px white;
	border-right: solid 2px white;
	border-radius:20px 20px 40px 40px;
}
.alcoholImg4{
	position: absolute;
	margin-left:9.9px;
	margin-top:6px;
	width:58px;
	height: 6px;
	border-top: solid 0.5px white;
	border-bottom: solid 1.2px white;
	border-left: solid 1px white;
	border-right: solid 1px white;
	background-color: #000033;
	border-radius: 50%;
}
.alcoholImg5{
		position: absolute;
	margin-left:35px;
	margin-top:103px;
	background-color: white;
		width:9px;
	height:88px;
			border-radius:10px 10px 10px 10px;
}
.alcoholImg6{
		position: absolute;
	margin-left:36px;
	margin-top:106px;
	background-color: #000033;
		width:6px;
	height:83px;
		border-radius:10px 10px 10px 10px;
}
#sineCanvas{
	position: absolute;
	margin-top:16px;
	margin-left:8px;
}